@import "settings";
@import "bower_components/foundation/scss/foundation";
@import "bower_components/font-awesome/scss/font-awesome";
/*!
*!// Foundation Font Icons
**/
@import "foundation-icons";
@import "size";

@font-face {
font-family:'Colfax-Regular';
src:url(/fonts/Colfax/Colfax-Regular.eot);
src:url(/fonts/Colfax/Colfax/Colfax-Regular.eot?#iefix) format("embedded-opentype"),url(/fonts/Colfax/Colfax/Colfax-Regular.woff) format("woff"),url(/fonts/Colfax/Colfax/Colfax-Regular.ttf) format("truetype"),url(/fonts/Colfax/Colfax-Regular.svg#svgFontName) format("svg")
}

@font-face {
font-family:'Colfax-Medium';
src:url(/fonts/Colfax/Colfax-Medium.eot);
src:url(/fonts/Colfax/Colfax-Medium.eot?#iefix) format("embedded-opentype"),url(/fonts/Colfax/Colfax-Medium.woff) format("woff"),url(/fonts/Colfax/Colfax-Medium.ttf) format("truetype"),url(/fonts/Colfax/Colfax-Medium.svg#svgFontName) format("svg")
}

@font-face {
font-family:'Colfax-Bold';
src:url(/fonts/Colfax/Colfax-Bold.eot);
src:url(/fonts/Colfax/Colfax-Bold.eot?#iefix) format("embedded-opentype"),url(/fonts/Colfax/Colfax-Bold.woff) format("woff"),url(/fonts/Colfax/Colfax-Bold.ttf) format("truetype"),url(/fonts/Colfax/Colfax-Bold.svg#svgFontName) format("svg")
}

body {
	background: $silver;
}

.widget-title {
	font-size: 1em;
}

.entry-content {
  margin: 1.5em 20px;
}

.tags-links {
  margin: 0 20px;
}
.cat-links {
  margin: 0 20px;
}
/***************************************************************
* Links
****************************************************************/
a {
  color: $primary-color;
}

a:visited {
  color: lighten($primary-color, 5%);
}

a:hover,
a:focus,
a:active {
  color: darken($primary-color, 15%);
}


/*************************************************
**  This is the code for the blog post panel border
**************************************************/
.post-wrapper {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:$transparent,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:0,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  h1 {
	font-size: 1.5em;
	font-family: 'Colfax-Medium', Helvetica, Arial, sans-serif;
	padding: 10px 20px 0 20px;
	margin-top: 0;
  }
  span.posted-on {
	padding: 0 20px;
  }
  span.comments-link {
	padding: 0px 20px;
  }
  p { padding: 0 20px; }
}

.widget {
  margin: 0 0 2.75em;
  h5 {
    color:$white;
    text-transform: uppercase;
    font-family: 'Colfax-Medium', Helvetica, Arial, sans-serif;}
}

.frontpage-header {
  background: $primary-color url(../../dist/img/clifton_traintracks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5em 0;
  top:0;
  color:$white;
  font-family: 'Colfax-Regular', Helvetica, Arial, sans-serif;
  h1 {font-size: 3rem;
      font-family: 'Colfax-Medium', Helvetica, Arial, sans-serif;
      color:$white;}
  p {font-size: 1.55rem;}
}

/*************************************************
**  This is the code for the topbar
**************************************************/

.social {
  color:$white;
  font-size: 2em;
  margin-top: 85px;
  a {
    color: $white;
    &:hover {color: $white;}
  }
}

.twitter-feed {
  font-size: 18px!important;
  padding: 2em 0 0 0;
  background: darken($primary-color, 5%);
  position: relative;
  border-bottom: 5px solid darken($primary-color, 10%);
    &:before {
      content: "\f081";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  /*--adjust as necessary--*/
      font-size: 40px;
      color: darken($primary-color, 5%);
      padding-right: 0.5em;
      position: absolute;
      top: -41px;
      left: 50px;
  }

  a {
    color: $white;
    &:hover {color: $white;}
  }
}
i.fi-social-facebook.social-margin { font-size:2em; margin-right: 0px;}
i.fi-social-twitter.social-margin { font-size:2em; margin-right: 0px;}
i.fi-social-instagram.social-margin { font-size:2em; margin-right: 0px;}
i.fi-social-google-plus.social-margin { font-size:2em; margin-right: 0px;}
i.fi-social-github.social-margin { font-size:2em; margin-right: 0px;}
i.fi-social-linkedin.social-margin { font-size:2em; margin-right: 0px;}
i.fi-social-dribbble.social-margin { font-size:2em; margin-right: 0px;}

.social-grid {
  @include block-grid(
    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: 3.2%,

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );


}



/*************************************************
**  This is the code for the topbar
**************************************************/
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: $green;
  background: darken($green, 30%);
}

.site-header {
  background: $primary-color url(../../dist/img/clifton_relaxed.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4em 0;
  margin: 0 0 25px 0;
}
.blog-site-header {
  background: $primary-color url(../../dist/img/clifton-journal.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4em 0;
  margin: 0 0 25px 0;
} 
.page-title {
  background: rgba($vapor, 0.75);
  padding: 15px 10px 5px 0;
  margin: 120px 60% 0 0;
  text-transform: uppercase
}
.blog-page-title {
  background: rgba($vapor, 0.75);
  padding: 15px 10px 5px 0; 
  margin: 2em 60% 0 0;
  text-transform: uppercase
}

.title {
  -webkit-animation-name: fadeInLeftBig;
animation-name: fadeInLeftBig;
-webkit-animation: fadeInLeftBig 8s;
-moz-animation: fadeInLeftBig 8s;
-ms-animation: fadeInLeftBig 8s;
-o-animation: fadeInLeftBig 8s;
animation: fadeInLeftBig 8s;
}

.bounceLeft {
  -webkit-animation-name: bounceInLeft;
animation-name: bounceInLeft;
-webkit-animation: bounceInLeft 8s;
-moz-animation: bounceInLeft 8s;
-ms-animation: bounceInLeft 8s;
-o-animation: bounceInLeft 8s;
animation: bounceInLeft 8s;
}
.bounceDown {
  -webkit-animation-name: bounceInDown;
animation-name: bounceInDown;
-webkit-animation: bounceInDown 8s;
-moz-animation: bounceInDown 8s;
-ms-animation: bounceInDown 8s;
-o-animation: bounceInDown 8s;
animation: bounceInDown 8s;
}
.headerbounceDown {
  -webkit-animation-name: bounceInDown;
animation-name: bounceInDown;
-webkit-animation: bounceInDown 3s;
-moz-animation: bounceInDown 3s;
-ms-animation: bounceInDown 3s;
-o-animation: bounceInDown 3s;
animation: bounceInDown 3s;
}

// .site-main {
//   margin-bottom: 160px;
// }

footer {
  &.site-footer {
    padding: 25px 0 20px 0;
    color: $white;
    background: darken($primary-color, 30%);
    margin-top: 15px;
    z-index: 1;
  }
  ul li {
    position: relative;
    list-style-type: none;
    &:before {
      content: "\f054";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  /*--adjust as necessary--*/
      font-size: 10px;
      color: $white;
      padding-right: 0.5em;
      position: absolute;
      top: 5px;
      left: -20px;
  }
}
 
  
}


.footer-nav {
  @include inline-list;
  font-size: 1rem;
  font-family: 'Colfax-Medium', Helvetica, Arial, sans-serif!important;
  &:hover {
    color:#fff;}
}

.home-button { 
  @include button; 
  margin: 25px 5px;
  padding: 15px 50px;
  font-family: 'Colfax-Regular', Helvetica, Arial, sans-serif!important;
}

/*************************************************
**  Widget code : Rotating Tweets (Twitter widget and shortcode)
**************************************************/
#content .rotatingtweets, #content .norotatingtweets {
border-top: 0px solid #DDD;
border-bottom: 0px solid #DDD;
margin-bottom: 3%;
}


.resume-box {
    background: $secondary-color;
     .header-bar {
        background:$primary-color;
    }
} 
    

@media #{$small-only} { 

  .page-title {
    background: rgba($vapor, 0.75);
    padding: 15px 10px 5px 0;
    margin: 80px 30% 0 0;
    text-transform: uppercase
  }
  .frontpage-header {
  background: $primary-color url(../../dist/img/clifton_traintracks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 7px 0;
  color:$white;
  font-family: 'Colfax-Medium', Helvetica, Arial, sans-serif;
  h1 {font-size: 2rem;
      color:$white;}
  p {font-size: 1.1em;font-family: 'Colfax-Regular', Helvetica, Arial, sans-serif; font-weight: 600;}
}
  .social {
  color:$white;
  font-size: 1.1em;
  margin-top: 55px;
    a {
      color: $white;
      &:hover {color: $white;}
    }
  }
  i.fi-social-facebook.social-margin { font-size:1.9em; margin-right: 0px;}
  i.fi-social-twitter.social-margin { font-size:1.9em; margin-right: 0px;}
  i.fi-social-instagram.social-margin { font-size:1.9em; margin-right: 0px;}
  i.fi-social-google-plus.social-margin { font-size:1.9em; margin-right: 0px;}
  i.fi-social-github.social-margin { font-size:1.9em; margin-right: 0px;}
  i.fi-social-linkedin.social-margin { font-size:1.9em; margin-right: 0px;}
  i.fi-social-dribbble.social-margin { font-size:1.9em; margin-right: 0px;}

}

@media #{$large-only} { 

.frontpage-header {
  background: $primary-color url(../../dist/img/clifton_traintracks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 3.8em 0;
  color:$white;
  font-family: 'Colfax-Regular', Helvetica, Arial, sans-serif;
  h1 {font-size: 3rem;
      font-family: 'Colfax-Medium', Helvetica, Arial, sans-serif;
      color:$white;}
  p {font-size: 1.55rem;}
}
.social {
  color:$white;
  font-size: 2em;
  margin-top: 120px;
  a {
    color: $white;
    &:hover {color: $white;}
  }

}
i.fi-social-facebook.social-margin { font-size: 2.3em; margin-right: 10px;}
i.fi-social-twitter.social-margin { font-size: 2.3em; margin-right: 10px;}
i.fi-social-instagram.social-margin { font-size: 2.3em; margin-right: 10px;}
i.fi-social-google-plus.social-margin { font-size: 2.3em; margin-right: 10px;}
i.fi-social-github.social-margin { font-size: 2.3em; margin-right: 10px;}
i.fi-social-linkedin.social-margin { font-size: 2.3em; margin-right: 10px;}
i.fi-social-dribbble.social-margin { font-size: 2.3em; margin-right: 10px;}

.twitter-feed {
  padding: 2em 0 0 0;
  background: lighten($primary-color, 5%);
  position: relative;
  border-bottom: 5px solid darken($primary-color, 10%);
    &:before {
      content: "\f081";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  /*--adjust as necessary--*/
      font-size: 40px;
      color: lighten($primary-color, 5%);
      padding-right: 0.5em;
      position: absolute;
      top: -41px;
      left: 50px;
    }
  }
}


@media #{$xlarge-up} { 

.frontpage-header {
  background: $primary-color url(../../dist/img/clifton_traintracks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5em 0;
  color:$white;
  font-family: 'Colfax-Regular', Helvetica, Arial, sans-serif;
  h1 {font-size: 3rem;
      font-family: 'Colfax-Medium', Helvetica, Arial, sans-serif;
      color:$white;}
  p {font-size: 1.55rem;}
}
.social {
  color:$white;
  font-size: 2em;
  margin-top: 115px;
  a {
    color: $white;
    &:hover {color: $white;}
  }
}

.twitter-feed {
  padding: 3em 0 0 0;
  background: lighten($primary-color, 5%);
  position: relative;
  border-bottom: 5px solid darken($primary-color, 10%);
    &:before {
      content: "\f081";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  /*--adjust as necessary--*/
      font-size: 40px;
      color: lighten($primary-color, 5%);
      padding-right: 0.5em;
      position: absolute;
      top: -41px;
      left: 50px;
    }
  }

}

